@import "variable.css";

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


.web-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}

.web {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
}

.studio {
    font-family: 'Raleway', sans-serif;
    color: var(--black);
}

.studio-second {
    font-weight: 700;
    color: var(--white);
}

.menu-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black);
}


.information:hover {
    color: var(--blue);
}

.information {
    color: var(--grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}


.first-sect {
    background: #2F303A;
}

.biggest-logo {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.btn {
    background: var(--blue);
    color: var(--white);
    box-shadow: 0 4px 4px var(--dark-grey);
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    cursor: pointer;
}

.third-logo {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.text {
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}

.second-logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}


.fourz-sect {
    background: var(--white);
}


.our-team-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    color: var(--grey);
}

footer {
    background: #2F303A;
}

.location {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
}

.footers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    color: var(--grey);
}

.third-logo-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--grey);
}


.btn-all {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    margin: 5px;
}


.menu-links:focus {
    color: var(--blue);
}

.menu-links:hover {
    color: var(--blue);
}

.current {
    color: var(--blue);
}

.information:hover {
    color: var(--blue);
}


.btn-all:hover {
    background: var(--blue);
    color: var(--white);
}

.btn-all:focus {
    color: var(--white);
    background: var(--blue);
}
